body {
  padding-bottom: 2rem;
  /* font-family: 'Open-Sans', sans-serif; */
}

/* h1 {
  font-family: 'Caveat', cursive;
  font-size: 4rem;
} */

button {
  margin: 1rem 0;
}

.header {
  margin: 2rem 0;
}

.type {
  margin-bottom: .5rem;
}

.card {
  margin-bottom: 1rem;
}

.climate {
  margin-bottom: 1rem;
}

.activity {
  margin-bottom: .5rem;
}

#results {
  display: none;
  margin-top: 1rem;
}

/* .peru h4, .bahamas h4 {
  font-family: 'Caveat', cursive;
  font-size: 2rem;
} */
