body {
  padding: 2rem 0;
}

button {
  margin-top: .5rem;
}

.header {
  margin-bottom: 2rem;
}

.type {
  margin-bottom: .5rem;
}

.card {
  margin-bottom: 1rem;
}

.climate {
  margin-bottom: 1rem;
}

.activity {
  margin-bottom: .5rem;
}

#results {
  display: none;
  margin-top: 2rem;
}
